<header>
    <div class="uui-header dark-gray">
        <nav>
            <a href="#" class="brand-logo">
                <span class="logo">
                    <img src="/images/ic_logo_UUi.svg" alt="" />
                </span>
                Unified UI
            </a>
            <ul class="uui-navigation nav navbar-nav">
                <li><a href="#">Item 1</a></li>
                <li class="active"><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </nav>
    </div>
</header>