<main>
    <div class="timer-container">
        <span class="timer-container__txt">Let’s do it!</span>
        <!--<div class="timer-group">-->
        <div class="timer minute">
            <div class="hand"><span></span></div>
            <div class="hand"><span></span></div>
        </div>
    </div>
</main>


