$background-body: #f3f3f3;

$button-colors: (success: #1eb45e, dismiss: #f64938, hover: #ffd70d, active: #2e85bc, not-active: #4b5253);

$background-elements:#e8ebec;

$text-color-elements: #fff;
$text-color-elements-dark:#454c4d;


$h1-size: 40px;
$h1-line-height: 33px;
$button-font-size: 36px;

$button-width: 300px;
$button-height: 96px;

$button-padding: 40px;

