html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.flex-container {
    background-color: #ddd;
    display: flex;
    height: 100%;
}

.flex-item {
    background-color: rgb(191, 227, 255);
    margin: 5px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #fff;
}

.flex-item span {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 20px;
    text-align: center;
    vertical-align: baseline;
}

.item1 {
    flex-grow: 2;
    background: hsl(306, 50%, 75%);
}

.item2 {
    flex-grow: 1;
    background-color: rgb(34, 181, 115);
}

.item3 {
    flex-grow: 1;
    background: hsl(221, 50%, 75%);
}