{
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "$": true
  },
  "rules": {
    // Best practices
    "max-len": [2, 120, 4, { "ignoreUrls": true, "ignoreStrings": true }],
    "strict": [1, "function"],

    // Style
    "indent": [2, 4, { "SwitchCase": 1 }],
    "func-names": [0],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "always" }],
    "wrap-iife": 0,
    "comma-dangle": [2, "never"],

    // Logic
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "vars-on-top": 0,
    "no-plusplus": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true }],

    // General
    "linebreak-style": 0
  }
}
