
.intro h1:before {
    /* Edit this with your name or anything else */
    content: 'SAMPLE'
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display SC", serif;
    color: #333333
}

a, p, li {
    font-size: 1em;
    font-family: "Lato", Arial, sans-serif;
    color: #4E4E4E;
    line-height: 1.75em
}

a:hover {
    text-decoration: none !important;
    color: #333333 !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px
}

div.main-nav {
    background: #F4F4F4;
    padding-top: 23px
}

div.main-nav nav ul li a {
    color: #A7A7A7
}

div.main-nav nav ul li.active a {
    color: #4D4D4D
}

div.section.second {
    margin-bottom: 90px
}

div.section .container {
    position: relative
}

div.section .container:after {
    position: absolute;
    height: 1px;
    width: 100%;
    content: '';
    border-bottom: 1px solid #CCCCCC;
    left: 20px
}

.section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative
}

div.first-block {
    padding: 95px 0px 70px 0px;
    overflow-x: hidden
}

div.first-block .container .wrap .avatar img {
    width: 81px;
    height: 81px;
    border-radius: 99px
}

div.first-block .container .wrap {
    margin: 30px 0px
}

div.first-block .container .wrap .unit-80 h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #f4f4f4
}

div.first-block .container .wrap .unit-80 h1 span {
    font-size: 47px
}

div.second-block ul.work-list {
    margin-left: 0px
}

div.second-block ul.work-list li {
    list-style: none;
    font-size: 0.9375em;
    color: #8C8C8C
}

div.second-block ul.work-list li a {
    padding-bottom: 5px;
    font-size: 1.1875em;
    font-weight: 700;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #B3B3B3;
}

div.second-block ul.work-list li a:hover {
    border-bottom: 1px solid #333333
}

.third-block .award-list {
    margin-left: 0px
}

.third-block .award-list li:first-child, .skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8C8C8C
}

.skills .skill-list {
    margin-left: 0px
}

.quote {
    background: url("../img/bg.png");
    padding: 20px 0px;
    margin-top: 120px
}

.quote h1 {
    margin: 100px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;:;
    padding-bottom: 40px;
    border: 5px solid #FFFFFF;
    color: #FFFFFF
}

ul.social {
    overflow: hidden;
    padding: 0;
    margin: 0
}

ul.social li {
    list-style: none outside;
    float: left;
    margin: 0 10px 0 0
}

ul.social li a {
    display: block;
    width: 33px;
    height: 33px;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url("../img/icons.png")
}

ul.social .facebook a {
    background-image: url(../img/icons_facebook.jpg)
}

ul.social .facebook a:hover {
    background-image: url(../img/icons_facebook_active.jpg)
}

ul.social .twitter a {
    background-image: url(../img/icons_twitter.jpg)
}

ul.social .twitter a:hover {
    background-image: url(../img/icons_twitter_active.jpg)
}

ul.social .google a:hover {
    background-image: url(../img/icons_google_active.jpg)
}

ul.social .google a {
    background-image: url(../img/icons_google.jpg)
}

div.footer {
    padding: 50px 0px 0px 0px
}

div.footer .social li {
    display: inline;
    margin-left: 20px
}

div.footer .social li a {
    font-size: 1.25em;
    color: #999999
}

.code {
    display: none;
}

@media only screen and (max-width: 767px) {
    .main-nav {
        background-color: #712B2B;
    }

    .main-nav nav ul li.active a {
        color: rgba(255, 216, 20, 0.66);
    }

    div.footer {
        text-align: center
    }
}

@media print and (color) {
    body {
        font: 12pt Georgia, "Times New Roman", Times, serif;
        color: #000;
    }

    body > *,
    .section,
    div.first-block,
    div.second-block,
    div.third-block,
    div.section.second{
        padding: 2pt;
        margin: 0;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    @page {
        margin: 2cm;
    }

    .main-nav,
    .quote,
    .footer,
    h1 > br {
        display: none;
    }

    a {
        text-decoration: underline;
        color: #000;
        font-weight: bolder;

    }

    a[href]:after {
        content: " <" attr(href) "> ";
    }

  .code{
      display: block;
  }
}