<main>
    <ul class="list status-list">
        <li class="item status-list__item"><a href="" title="" class="link state-list__link">Day</a></li>
        <li class="item status-list__item"><a href="" title="" class="link state-list__link">Week</a></li>
        <li class="item status-list__item"><a href="" title="" class="link state-list__link">Mounth</a></li>
    </ul>
    <div id="container" style="width:100%; height:400px;"></div>
    <!--<div class="day-report"></div>-->
</main>
