$background-color-1: #fff;
$background-color-2: #f2f5f7;
$font-color: #506a85;
$button-color:$background-color-1;
$icon-color: #00bc9c;
$button-color:$icon-color;
$font-nav: bold 15px 'Source Sans Pro', sans-serif;
$font-header-top-h1:  44px/54px 'Source Sans Pro', sans-serif;
$font-header-top-p:  22px/34px 'Source Sans Pro', sans-serif;
$font-quality-h1: 26px/34px 'Source Sans Pro', sans-serif;
$font-quality-p: 16px/25px 'Source Sans Pro', sans-serif;
$font-gallery-h:bold 20px/26px 'Source Sans Pro', sans-serif;
$font-gallery-p:14px/22px 'Source Sans Pro', sans-serif;
