$color-menu: #eec006;
$color-header:#575757;
$color-menu-text:#b99403;
$color-logo-name:#fff;
$color-news:#ec9e03;
$color-button:#dc9b19;
$color-footer:#474747;

$menu-font-size:19px;

$bgcolor: #f5c506;
$color: lighten($bgcolor, 10%);
$transparent: rgba(255, 255, 255, 0);